
.choice-box {

    -fx-background-color: white;
    -fx-mark-color: #3D4956;


}

.choice-box > .label {
    -fx-text-fill: #3D4956;
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.choice-box .context-menu { -fx-background-color: #003f5c; }
.choice-box .menu-item:focused { -fx-background-color: #ffa600; }
.choice-box .menu-item > .label { -fx-text-fill: white; }
.choice-box .menu-item:focused > .label { -fx-text-fill: #3D4956; }

#menu-label {
    -fx-background-color: #003f5c;
    -fx-text-fill: #eee;
    -fx-background-radius: 8 8 0 0;
}
